html {
  box-sizing: border-box;
}
/* inherit border-box on all elements in the universe and before and after
 */
*, 
*:before, 
*:after {
  box-sizing: inherit;
}

.App {
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  display: grid;
  grid-template-columns: 10% 90%;
  grid-template-rows: 100vh;
}

